.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .product {
    min-width: 100px;
    transition: 300ms;
    cursor: pointer;
    &:hover {
      transform: translateY(-10px);
    }
  }
}
