

input{
    height: 30px;
    width: 250px;
}


button{
    display: block;
    margin: 20px 0px;
    height: 30px;
    width: 250px;
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
    &:disabled{
        opacity: 0.3;
        cursor: not-allowed;
    }
}

.input-error{
    border: 1px solid red;
}