.container{
    height: 9vh;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;

    .compant_name{
        font-size: 20px;
        font-weight: 700;
    }

    .search{
        position: relative;
        input{
            outline: none;
            border: none;
            height: 30px;
            width: 250px;
            border-radius: 8px;

            &:focus+.placeholder{
                top: -8px;
                background-color: white;
            }
        }
        span{
            font-size: 14px;
            position: absolute;
            left: 10px;
            top:5px;
            
        }
        
    }

    .profile{
        display: flex;
        align-items: center;
        gap: 30px;
        p{
            font-size: 18px;
            font-style: italic;
        }
        img{
            height: 40px;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }
    }
}

